/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

.bodymain {
	padding: 10px;
	font-size: 12px;
}

.tableContainer {
	width: 1000px;
}

table {
	font-size: 12px;
}